.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px 12px 10px 12px;
}

.avatarItem {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.nameItem,
.createdItem,
.emailItem {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.nameItem {
  font-weight: 500;
}

.emailItem {
  font-size: 14px;
}

.emailItem,
.createdItem {
  font-weight: 400;
  color: $gray-300;
}

.createdItem {
  text-align: right;
}

.nameItem {
  color: $white;
}

.items {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
