.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1166px;
  padding: 24px;
  border-radius: 8px;
  background-color: $brand-900;
}

.divider {
  margin-top: 25px;
  margin-bottom: 25px;
}
