.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: column;
}

.amount {
  font-family: $fontSpaceGrotesk;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.03em;
  color: $white;
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: $gray-300;
}
