.wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-items: end;
  gap: 10px;
  width: 100%;

  @include mobileBreakpoint('max', $custom-bpXL - 1) {
    flex-direction: column;
  }
}

.items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  gap: 6px;
  width: 100%;

  @include mobileBreakpoint('max', $custom-bpXL - 1) {
    justify-content: start;
  }
}

.button {
  width: 100%;
}
