.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttonNewInvoices {
  height: 44px;
}

.buttonNewInvoices {
  width: 150px;
}

.totalInvoiceAmount {
  color: $mint-700;
}

.totalPaidAmount {
  color: $cherry-600;
}

.totalUnPaidAmount {
  color: $brand-400;
}
