.wrapper {
  display: flex;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  @include mobileBreakpoint('max', $bpS) {
    width: 100%;
  }
}

.inputDescription {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.description {
  font-size: 13px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $brand-400;
}
