.wrapperNotActive,
.wrapperActive {
  display: flex;
  flex-direction: initial;
  width: 100%;
  height: 44px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 0px;
  padding: 10px 12px 10px 12px;
  transition: all 0.1s ease;
  user-select: none;
  cursor: pointer;
}

.wrapperNotActive {
  color: $gray-300;

  @include hover() {
    background-color: $brand-800;

    .title {
      color: $gray-200;
    }

    .icon * {
      fill: $gray-200;
    }
  }
}

.leftItems {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 12px;
}

.itemsIsMini,
.items {
  display: flex;
  text-align: start;
  align-items: center;
}

.items {
  width: 100%;
}

.wrapperActive {
  background-color: $brand-1000;

  .title {
    color: $white;
  }

  .icon * {
    fill: $white;
  }
}

.title {
  color: $gray-300;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.1s;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.1s ease;
}
