.wrapper {
  display: flex;
  width: 100%;
  max-width: 445px;
  min-height: 730px;
  flex-direction: column;
  gap: 40px;
}

.goBackText {
  color: $gray-200;
}

.alreadyRegisteredText {
  color: $brand-500;
}
