.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 82px - 20px - 40px);
  width: 100%;
  gap: 40px;

  @include scrollbar;
}

.section {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  width: 100%;
}
