.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;

  @include scrollbar;
}

.backButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.title,
.sectionFirst {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sectionFirst {
  flex-direction: row;
  gap: 16px;

  @include mobileBreakpoint('max', $bpL - 1) {
    flex-direction: column;
  }
}

.cart {
  max-width: 1174px;
  padding: 24px 32px 32px 32px;
}

.titleCart {
  margin-bottom: 12px;
  font-family: $fontSpaceGrotesk;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: $white;
}
