.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 186.33px;
}

.title {
  width: 150px;
  font-family: $fontSpaceGrotesk;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $white;
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $gray-300;
}

.legends {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.expensesColor {
  background-color: $cherry-600;
}

.incomeColor {
  background-color: $brand-400;
}
