.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: $brand-1000;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  color: $white;
}

.mainStandard,
.mainMini,
.mainFull {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 40px;
  margin-left: 0;
  padding: 20px 40px 40px 40px;
  transition: 0.3s ease;
  z-index: 1;

  @include mobileBreakpoint('max', $bpXL - 1) {
    padding: 20px 20px 20px 20px;
  }
}

.mainMini {
  width: calc(100% - 70px);
  margin-left: 70px;
}

.mainStandard {
  width: calc(100% - 293px);
  margin-left: 293px;

  @include mobileBreakpoint('max', $bpXL - 1) {
    width: 100%;
    margin-left: 0;
  }
}
