.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: $brand-1000;
}

.items {
  display: flex;
  flex-direction: column;
  color: $white;
}

.mainCut,
.mainMini,
.mainFull {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
  padding: 20px 40px 40px 40px;
  margin-left: 293px;
  transition: 0.3s ease;
  z-index: 1;

  @include mobileBreakpoint('max', $bpXL - 1) {
    padding: 20px 20px 20px 20px;
  }
}

.mainMini {
  margin-left: 70px;
}

.mainFull {
  margin-left: 0;
}

.mainCut {
  @include mobileBreakpoint('max', $bpXL - 1) {
    margin-left: 0;
  }
}
