.wrapper {
  display: flex;
  width: 100%;
  max-width: 445px;
  max-height: 529;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $brand-1000;
  font-family: $fontSpaceGrotesk;
}

.stackGoBackText {
  color: $gray-200;
}
