.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  @include scrollbar;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  max-width: $maxContentSize;
}

.tickets {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: fit-content;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.backButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}
