.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 64px;
}

.segments {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  height: 100%;
}

.segment {
  width: 100%;
  height: 20px;
  border-radius: 4px;
}

.labels {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.unpaidBar {
  background-color: $amber-500;
}

.paidBar {
  background-color: $mint-500;
}

.partiallyPaidBar {
  background-color: $cherry-500;
}

.unpaidText {
  color: $amber-500;
}

.paidText {
  color: $mint-500;
}

.partiallyPaidText {
  color: $cherry-500;
}
