.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 680px;
  overflow-y: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.columns {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  align-items: center;
  background-color: $brand-800;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hashtagColumn,
.accountColumn,
.amountColumn,
.createdColumn,
.dueColumn,
.statusColumn {
  width: 100%;
}

.hashtagColumn,
.accountColumn,
.createdColumn,
.dueColumn {
  max-width: 120px;
}

.statusColumn {
  max-width: 110px;
}

.amountColumn {
  max-width: 100px;
  text-align: right;
}

.amountColumn,
.createdColumn {
  padding: 0px 12px 0px 12px;
}

.divider {
  height: 2px;
  background-color: $gray-500;
}
