.wrapper {
  display: flex;
  flex-direction: column;
  gap: 38px;
  color: $white;
}

.header {
  display: flex;
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.cross {
  position: absolute;
  top: 7px;
  right: 7px;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover * {
    stroke: $gray-200;
  }
}

.buttonSave {
  @include mobileBreakpoint('min', $bpL) {
    max-width: 150px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.dates {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 12px;

  @include mobileBreakpoint('max', $bpL) {
    flex-direction: column;
    gap: 20px;
  }
}

.containerItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.containerItemsTitle {
  font-family: $fontSpaceGrotesk;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}
