.ordinaryWrapper,
.iconWrapper {
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  background-color: $brand-800;
  transition: all 0.2s;

  @include hover() {
    background-color: lighten($brand-800, 5%);
  }
}

.title,
.titleNone {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $white;
}

.titleNone {
  @include mobileBreakpoint('max', $bpS) {
    display: none;
  }
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
