.wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  user-select: none;
}

.chatGPTContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.chatGPTTitle {
  font-family: $fontSpaceGrotesk;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.03em;
  user-select: none;
}

.iconChatGPT {
  cursor: default;
}

.iconChatGPT * {
  fill: $white;
}

.popoverContent {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  max-width: 500px;
  height: calc(100vh - 65px);
  z-index: 9999;

  @include mobileBreakpoint('min', 500px) {
    max-height: 650px;
  }
}

.popoverHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  gap: 18px;
  align-items: center;
  flex-shrink: 0;
}

.popoverBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  padding-right: 6px !important;
}

.messenger {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  overflow-y: auto;
}

.messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  padding-right: 6px;

  @include mobileBreakpoint('max', 500px - 1px) {
    width: calc(100vw - 18px);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 6px;
  padding-top: 8px;
  padding-bottom: 10px;

  @include mobileBreakpoint('max', 500px - 1px) {
    padding-bottom: 20px;
  }
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.button {
  max-width: 50px;
  padding: 0;
}
