.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2px;
  left: 10px;
  width: 24px;
  height: 18px;
  padding: 2px 4px 2px 4px;
  border-radius: 100px;
  border: 2px solid $brand-1000;
  background-color: $cherry-600;
}

.text {
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: -0.03em;
}
