.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.buttonBlue {
  max-width: 72px;
  max-height: 42px;
}

.buttonBlueTitle {
  font-size: 14px;
  line-height: 20px;
}

.loading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
