.wrapperActive,
.wrapperDisable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid $brand-900;
  border-top: 1px solid $brand-900;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 6px;
}

.wrapperActive {
  background-color: $brand-1000;
}

.wrapperDisable {
  background-color: $brand-800;

  @include hover() {
    background-color: lighten($brand-800, 5%);

    .nameCompanyDisable {
      color: $gray-200;
    }

    .iconDisable * {
      fill: $gray-200;
    }
  }
}

.first {
  border-radius: 8px 8px 0px 0px;
}

.last {
  border-radius: 0px 0px 8px 8px;
}

.nameCompanyActive,
.nameCompanyDisable {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: left;
  transition: all 0.2s ease;
}

.nameCompanyDisable {
  color: $gray-300;
}

.iconActive *,
.iconDisable * {
  width: 18px;
  height: 18px;
  transition: all 0.2s ease;
}

.iconActive * {
  fill: $white;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 18px;
  border-radius: 4px;
  background-color: $brand-500;
}

.count {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: $white;
}
