.wrapper,
.wrapperLoading {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: $brand-1000;
  color: $white;
}

.wrapperLoading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.headerStandard,
.headerMini,
.headerFull,
.mainStandard,
.mainMini,
.mainFull {
  width: 100%;
  margin-left: 0;
  transition: all 0.3s ease;
}

.headerStandard,
.headerMini,
.headerFull {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px 20px 40px;
  z-index: 10;
  background-color: $brand-1000;

  @include mobileBreakpoint('max', $bpXL) {
    padding: 20px;
  }
}

.mainStandard,
.mainMini,
.mainFull {
  padding: 20px 40px 40px 40px;
  z-index: 5;
  overflow-y: auto;
  flex-grow: 1;
  margin-top: 82px;
  background-color: $brand-1000;

  @include mobileBreakpoint('max', $bpXL) {
    padding: 20px 20px 40px 20px;
  }
}

.mainMini,
.headerMini {
  width: calc(100% - 70px);
  margin-left: 70px;
}

.mainStandard,
.headerStandard {
  width: calc(100% - 293px);
  margin-left: 293px;

  @include mobileBreakpoint('max', $custom-bpXXL) {
    width: 100%;
    margin-left: 0;
  }
}
