.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 715px;
  overflow-y: hidden;
}

.columns {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  align-items: center;
  background-color: $brand-800;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.itemCodeColumn,
.itemNameColumn,
.priceColumn {
  width: 100%;
}

.itemCodeColumn {
  max-width: 125px;
}

.itemNameColumn {
  max-width: 415px;
}

.priceColumn {
  text-align: right;
  max-width: 175px;
}
