.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 350px;
  height: 100%;

  @include mobileBreakpoint('min', $bpL) {
    max-width: 528px;
  }

  @include mobileBreakpoint('max', $custom-bpXL) {
    max-width: 376px;

    @include mobileBreakpoint('max', $bpL - 1) {
      max-width: 100%;
    }
  }
}

.items {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  padding: 24px 32px 24px 32px;
  border-radius: 8px;
  background-color: $brand-900;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: start;
  justify-content: space-between;
}

.edit {
  cursor: pointer;

  * {
    fill: $gray-300;
  }
}
