.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;

  @include scrollbar;
}

.backButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.sectionFirst {
  display: flex;
  width: 100%;
  justify-content: center;
}

.title {
  display: flex;
  width: 100%;
  justify-content: start;
}

.sectionFirst {
  flex-direction: row;
  gap: 16px;

  @include mobileBreakpoint('max', $bpL - 1) {
    flex-direction: column;
  }
}

.cart {
  max-width: 1174px;
  padding: 24px 32px 32px 32px;
}
