.header {
  display: flex;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 38px;
  color: $white;
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.inputDescription {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.cross {
  position: absolute;
  top: 7px;
  right: 7px;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover * {
    stroke: $gray-200;
  }
}
