.wrapper {
  display: flex;
  width: fit-content;
  height: 24px;
  border-radius: 100px;
  padding: 1px 8px 1px 8px;
  user-select: none;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.03em;
}

.statusUnpaid,
.statusDelivered {
  background-color: $amber-transparent;
  color: $amber-500;
}

.statusPending,
.statusPartiallyPaid,
.statusDead,
.statusDecline,
.statusClosed {
  background-color: $cherry-transparent;
  color: $cherry-500;
}

.statusActive,
.statusPaid {
  background-color: $mint-transparent;
  color: $mint-500;
}

.statusDraft,
.statusPaused,
.statusCancelled,
.statusLost {
  background-color: $gray-600;
  color: $gray-100;
}

.statusStarted {
  background-color: $brand-transparent;
  color: $brand-300;
}

.statusCompleted,
.statusAccepted,
.statusOpen {
  background-color: $mint-transparent;
  color: $mint-500;
}
