.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 40px;

  @include scrollbar;
}

.section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.recentFullScreen {
  max-width: $maxContentSize;
}

.documents {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
