/* 	
	Цвета
*/

$brand-1000: #0f1119;
$brand-900: #151720;
$brand-800: #1b1e29;
$brand-700: #1d2687;
$brand-600: #2632b4;
$brand-500: #303fe1;
$brand-400: #5965e7;
$brand-300: #838ced;
$brand-200: #acb2f3;
$brand-100: #d6d9f9;
$brand-50: #e3e5fc;

$gray-800: #010102;
$gray-700: #121317;
$gray-600: #23242d;
$gray-500: #343543;
$gray-400: #55586e;
$gray-300: #666984;
$gray-200: #9ea0b7;
$gray-100: #c5c6d4;
$gray-50: #ececf1;

$cherry-900: #300d1a;
$cherry-800: #601b34;
$cherry-700: #ba1c56;
$cherry-600: #dc286a;
$cherry-500: #ef4382;
$cherry-400: #f872a3;
$cherry-300: #fca6c6;
$cherry-200: #fec8dc;
$cherry-100: #fee1ec;
$cherry-50: #fef1f6;

$amber-900: #312002;
$amber-800: #624004;
$amber-700: #935f06;
$amber-600: #c47f08;
$amber-500: #f59f0a;
$amber-400: #f7b23b;
$amber-300: #f9c56c;
$amber-200: #fbd99d;
$amber-100: #fdecce;
$amber-50: #fffbeb;

$mint-900: #032525;
$mint-800: #064949;
$mint-700: #047777;
$mint-600: #059494;
$mint-500: #10b7b7;
$mint-400: #36d3d3;
$mint-300: #6ee7e7;
$mint-200: #a5f3f3;
$mint-100: #d1fafa;
$mint-50: #edfdfd;

$cherry-transparent: #ef438233;
$amber-transparent: #f59f0a33;
$mint-transparent: #10b7b733;
$brand-transparent: #303fe133;

$blackout: #00000040;

$white: #fff;
