.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 12px 10px 12px;
}

.titleItem {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $white;
}

.manageItem {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}
