.wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  max-width: 200px;
  text-align: right;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $brand-800;
}

.modalAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $brand-800;
}

.name {
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.03em;
}

.accountInfo {
  display: flex;
  flex-direction: column;
  width: calc(100% - 76px);
}

.modalName {
  font-family: $fontSpaceGrotesk;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.03em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalEmail {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.03em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalItem {
  font-family: $fontSpaceGrotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.03em;
  user-select: none;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all 0.1s ease;
  cursor: pointer;

  @include hover() {
    color: $gray-100;
    background-color: lighten($color: $brand-800, $amount: 8%);
  }
}

.notifications {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.notificationsOn {
  font-weight: 400;
  color: $mint-500;
}

.notificationsOff {
  font-weight: 400;
  color: $cherry-500;
}
