.wrapper {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: $cherry-transparent;
  user-select: none;
}

.icon {
  width: 24px;
  height: 24px;
}
