.wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 16px;
}

.buttonView,
.buttonPlus {
  height: 42px;
}

.buttonPlus {
  max-width: 150px;
}

.buttonView {
  max-width: 170px;
}

.iconPlus {
  width: 14px;
  height: 14px;
}

.iconView {
  width: 20px;
  height: 20px;
}
