.wrapperActive,
.wrapperDisable {
  position: relative;
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  user-select: none;
  cursor: pointer;
}

.wrapperDisable {
  &:hover * {
    fill: $gray-200;
  }
}

.notification {
  position: absolute;
  top: -2px;
  left: 10px;
}
