.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.closeButton {
  position: absolute;
  right: 0;
  top: -4px;
  background: $brand-800;
  border: none;
  color: $brand-200;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;

  &:hover {
    background: $brand-700;
    color: #fff;
  }
}

.talentsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
}
