.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.buttonBlueTitle {
  font-size: 14px;
  line-height: 20px;
}

.loading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
