.wrapperFill,
.wrapperStroke {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
}

.wrapperFill {
  &:hover * {
    fill: $gray-200;
  }
}

.wrapperStroke {
  &:hover * {
    stroke: $gray-200;
  }
}
