.wrapperFill,
.wrapperStroke {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  user-select: none;
  cursor: pointer;
}

.wrapperFillHover {
  &:hover * {
    fill: $gray-200;
  }
}

.wrapperStrokeHover {
  &:hover * {
    stroke: $gray-200;
  }
}
