.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  ::-webkit-scrollbar {
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: $brand-1000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $brand-800;
    border-radius: 8px;
  }
}

.container {
  overflow-x: auto;
  flex-grow: 1;
  height: auto;
  opacity: 1;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1025px;
  overflow-y: hidden;
}

.columns {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  align-items: center;
  background-color: $brand-800;
}

.hashTagColumn,
.dateColumn,
.accountColumn,
.typeColumn,
.amountColumn,
.descriptionColumn,
.drColumn,
.crColumn,
.balanceColumn,
.manageColumn {
  width: 100%;
}

.hashTagColumn {
  max-width: 50px;
}

.manageColumn {
  max-width: 80px;
  justify-content: end;
}

.dateColumn {
  max-width: 120px;
}

.accountColumn,
.typeColumn,
.amountColumn,
.drColumn,
.crColumn,
.balanceColumn {
  max-width: 100px;
}

.descriptionColumn {
  max-width: 175px;
}
