.header {
  display: flex;
  width: 100%;

  @include mobileBreakpoint('min', $bpL) {
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  @include mobileBreakpoint('max', $bpL) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 17px;

    .search {
      order: 2;
    }

    .headerButtons {
      order: 1;
    }
  }
}

.search {
  @include mobileBreakpoint('min', $bpL) {
    width: 400px;
  }

  @include mobileBreakpoint('max', $bpL) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
