.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  padding-left: 1px;
  padding-right: 1px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
}

.sectionItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.sectionTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  font-family: $fontSpaceGrotesk;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.addExperienceButton {
  height: 44px;
}

.containerItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.containerItemsTitle {
  font-family: $fontSpaceGrotesk;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.divider {
  margin-top: 8px;
  margin-bottom: 8px;
}
