.wrapper,
.inputsColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.containerInputs {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;

  @include mobileBreakpoint('max', $bpL) {
    flex-direction: column;
  }
}

.containerItemsTitleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  @include mobileBreakpoint('max', $bpL) {
    align-items: start;
    flex-direction: column;
  }
}

.containerItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.containerItemsTitle {
  font-family: $fontSpaceGrotesk;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.containerItemsTitleBlue {
  font-size: 13px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $brand-400;
}

.teamWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  flex-wrap: wrap;
}

.chatGPTLoading {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: center;
  user-select: none;
}

.chatGPTLoadingText {
  font-family: $fontSpaceGrotesk;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.icon {
  animation: spin 2s linear infinite;
  cursor: default;
}

.icon * {
  width: 24px;
  height: 24px;
  fill: $white;
}

.wrapperIcon {
  width: 24px;
  height: 24px;
}
