.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  max-width: 357px;
  min-height: 625px;
  padding: 24px 32px 24px 32px;
  border-radius: 8px;
  background-color: $brand-900;
}
