.wrapper {
  display: flex;
  flex-direction: column;
  gap: 38px;
  color: $white;
}

.header {
  display: flex;
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.cross {
  position: absolute;
  top: 7px;
  right: 7px;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover * {
    stroke: $gray-200;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 100%;
  align-items: center;
}

.textTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
}

.textValue {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.03em;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  align-items: end;
  justify-content: end;
}

.dividerTop {
  margin-bottom: 12px;
}

.divider {
  margin-top: 12px;
  margin-bottom: 12px;
}
