.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 239px;
  gap: 24px;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.email,
.phone {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.avatar {
  width: 176px;
  height: 176px;
  border-radius: 50%;
}

.pagesList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  justify-content: center;
}
