.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1300px;
  overflow-y: hidden;
}

.columns {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  align-items: center;
  background-color: $brand-800;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hashtagColumn,
.accountColumn,
.amountColumn,
.invoiceDateColumn,
.dueDateColumn,
.statusColumn,
.manageColumn {
  width: 100%;
}

.hashtagColumn {
  max-width: 125px;
}

.amountColumn,
.invoiceDateColumn,
.dueDateColumn {
  max-width: 175px;
}

.statusColumn {
  max-width: 125px;
}

.accountColumn {
  max-width: 525px;
}

.manageColumn {
  max-width: 150px;
  justify-content: end;
}

.nothingFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.nothingFoundText {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: $gray-300;
}
