.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 450px;
  overflow-y: hidden;
}

.columns {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  align-items: center;
  background-color: $brand-800;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.accountColumn,
.balanceColumn {
  width: 100%;
}

.accountColumn,
.balanceColumn {
  max-width: 344.75px;
}

.balanceColumn {
  text-align: right;
}
