.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 359.33px;
  height: 156px;
  padding: 24px;
  border-radius: 8px;
  background-color: $brand-800;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.amount {
  font-family: $fontSpaceGrotesk;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $white;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $gray-300;
}

.titleItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chevron {
  transform: rotate(-90deg);
}
