.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 12px 10px 12px;
}

.manageItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.codeItem,
.accountItem {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $white;
  cursor: pointer;
}

.dateCreatedItem,
.expiryDateItem,
.subjectItem,
.amountItem {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-align: left;
}

.dateCreatedItem,
.expiryDateItem {
  color: $gray-300;
}

.viewButton,
.buttonEdit,
.buttonTrash,
.buttonClone,
.buttonStopRecurring {
  display: flex;
  width: 100%;
  max-width: 56px;
  height: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.viewButton {
  background-color: $mint-500;

  @include hover() {
    background-color: $mint-400;
  }
}

.buttonEdit {
  background-color: $amber-500;

  @include hover() {
    background-color: $amber-400;
  }
}

.buttonTrash {
  background-color: $cherry-500;

  @include hover() {
    background-color: $cherry-400;
  }
}

.icon {
  width: 18px;
  height: 18px;
}
