.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1000px;
  overflow-y: hidden;
}

.columns {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  align-items: center;
  background-color: $brand-800;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.avatarColumn,
.detailsColumn,
.typeColumn,
.manageColumn {
  width: 100%;
}

.avatarColumn {
  max-width: 80px;
}

.detailsColumn {
  max-width: 850px;
}

.typeColumn {
  max-width: 400px;
}

.manageColumn {
  max-width: 140px;
  justify-content: end;
}
