.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 12px 10px 12px;
}

.idItem {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $white;
}

.nameItem,
.companyNameItem,
.emailItem,
.phoneItem {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $white;
}

.companyNameItem {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.manageItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  justify-content: end;
  align-items: center;
}
