.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  @include scrollbar;
}

.section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.recentFullScreen {
  max-width: $maxContentSize;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
}

.filters {
  width: 100%;
  max-width: 300px;
}

.content {
  width: 100%;
}
