.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.recentFullScreen {
  max-width: $maxContentSize;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;

  @include mobileBreakpoint('max', $bpL) {
    flex-direction: column;
    gap: 24px;
  }
}

.buttonsAndTable {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.filters {
  width: 300px;

  @include mobileBreakpoint('max', $bpL) {
    width: 100%;
  }
}
