.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100%;
  @include scrollbar;
}
.backButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: $maxContentSize;
}
.input {
  background-color: $brand-900;
}
