* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontMain;
}

html body[data-scroll-locked] {
  margin-right: 0px !important;
}

html {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  background-color: $brand-1000;
}

button {
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $brand-1000;
}

::-webkit-scrollbar-thumb {
  background-color: $brand-800;
  border-radius: 8px;
}
