.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 8px 1.5px 8px;
  border-radius: 100px;
  background-color: $gray-600;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: $gray-100;
}
