.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1300px;
  overflow-y: hidden;
}

.columns {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  align-items: center;
  background-color: $brand-800;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.codeColumn,
.itemColumn,
.priceColumn,
.qtyColumn,
.discountColumn,
.totalColumn {
  width: 100%;
}

.codeColumn {
  max-width: 100px;
}

.itemColumn {
  max-width: 800px;
}

.priceColumn,
.qtyColumn,
.totalColumn,
.discountColumn {
  max-width: 150px;
}

.totalColumn {
  text-align: right;
}
