.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  color: $white;
}

.sectionFirst,
.sectionSecond {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  width: 100%;

  @include mobileBreakpoint('max', $bpL) {
    flex-direction: column;
  }
}

.invoiceWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.invoiceTitle,
.infiniti,
.invoiceTotal,
.invoicedTo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.invoiceTotal {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: end;

  @include mobileBreakpoint('max', $bpL) {
    align-items: start;
    text-align: left;
  }
}

.buttonPay {
  max-width: 135px;
  height: 44px;
}

.iconPay {
  width: 22px;
  height: 22px;
}

.payContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  align-items: end;

  @include mobileBreakpoint('min', $bpL + 1) {
    margin-top: 8px;
  }
}

.titleInvoice {
  font-family: $fontSpaceGrotesk;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.invoiceCode {
  font-family: $fontSpaceGrotesk;
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
}

.invoicedToList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.invoicedToTitle {
  font-size: 17px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: -0.03em;
}

.invoicedToItem {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: $gray-300;
}

.infiniti {
  align-items: end;

  @include mobileBreakpoint('max', $bpL) {
    align-items: start;
  }
}

.infinitiDescription {
  display: flex;
  align-items: end;
  text-align: right;
  flex-direction: column;
  gap: 4px;
  max-width: 350px;

  @include mobileBreakpoint('max', $bpL) {
    align-items: start;
    text-align: left;
  }
}

.logo {
  width: 170px;
}

.invoiceDate {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;

  @include mobileBreakpoint('max', $bpL) {
    align-items: start;
  }
}

.totalWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.totalTitle {
  font-family: $fontSpaceGrotesk;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: $gray-300;
}

.totalValue {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.03em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infinitiCompanyAddress {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.hiddenInfo {
  font-family: $fontSpaceGrotesk;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.offerProposal,
.offerNotes {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;

  p {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  a {
    font-size: 15px;
    color: $brand-500;
    text-decoration: underline;
  }

  ol,
  li {
    margin-left: 14px;
    list-style-position: inside;
    font-size: 15px;
  }
}
