.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;

  & > :nth-child(1) {
    margin-bottom: 8px;
  }
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}
