.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 12px 10px 12px;
}

.manageItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.nameItem {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $white;
}

.dateItem,
.untilItem,
.priceItem {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-align: left;
}

.dateItem,
.untilItem {
  color: $gray-300;
}
