.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 251.5px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.03em;
  text-align: left;
  color: $gray-300;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
