.wrapper {
  display: flex;
  height: 24px;
  border-radius: 100px;
  padding: 1px 8px 1px 8px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.03em;
}

.statusUnpaid {
  width: 62px;
  background-color: $amber-transparent;
  color: $amber-500;
}

.statusPending {
  width: 69px;
  background-color: $cherry-transparent;
  color: $cherry-500;
}

.statusActive,
.statusPaid {
  width: 57px;
  background-color: $mint-transparent;
  color: $mint-500;
}

.statusPaid {
  width: 44px;
}

.statusDraft,
.statusPaused {
  background-color: $gray-600;
  color: $gray-100;
}

.statusDraft {
  width: 49px;
}

.statusPaused {
  width: 64px;
}

.statusStarted {
  width: 64px;
  background-color: $brand-transparent;
  color: $brand-300;
}

.statusCompleted {
  width: 87px;
  background-color: $mint-transparent;
  color: $mint-500;
}

.statusPartiallyPaid {
  width: 98px;
  background-color: $cherry-transparent;
  color: $cherry-500;
}
