.wrapper {
  display: flex;
  height: 24px;
  border-radius: 100px;
  text-align: center;
  justify-content: center;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.03em;
}
