.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: $white;
}

.header {
  display: flex;
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}
.cross {
  position: absolute;
  top: 7px;
  right: 7px;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover * {
    stroke: $gray-200;
  }
}

.error {
  color: $cherry-500;
  font-size: 13px;
  margin-top: 2px;
}

.inputWithCurrency {
  position: relative;
  display: flex;
  align-items: center;
}

.currencySymbol {
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: $gray-400;
  pointer-events: none;
}

.loading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
