.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  ::-webkit-scrollbar {
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: $brand-1000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $brand-800;
    border-radius: 8px;
  }
}

.container {
  overflow-x: auto;
  flex-grow: 1;
  height: auto;
  opacity: 1;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 590px;
  overflow-y: hidden;
}

.columns {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  align-items: center;
  background-color: $brand-800;
}

.hashTagColumn,
.dateColumn,
.customerColumn,
.totalColumn,
.statusColumn {
  width: 100%;
}

.hashTagColumn,
.totalColumn {
  max-width: 100px;
}

.dateColumn,
.statusColumn {
  max-width: 120px;
}

.customerColumn {
  max-width: 150px;
}

.statusColumn {
  display: flex;
  justify-content: end;
}

.loading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
