.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  padding-left: 1px;
  padding-right: 1px;
}

.selections {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 14px;
}

.containerItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.containerItemsTitle {
  font-family: $fontSpaceGrotesk;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.attach {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  width: fit-content;
  font-family: $fontSpaceGrotesk;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.03em;
  cursor: pointer;
  transition: all 0.1s ease;
  color: $gray-400;

  @include hover() {
    color: $brand-400;

    .icon * {
      stroke: $brand-400;
    }
  }
}

.buttonSave {
  margin-top: 12px;
}

.icon * {
  stroke: $gray-400;
  width: 18px;
  height: 18px;
  transition: all 0.1s ease;
}
