.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  width: 100%;
  align-items: stretch;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}

.overlayPreview {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;

  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  cursor: grabbing;
  pointer-events: none;
  user-select: none;
  background-color: $brand-700;
}
