.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.backButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  max-width: $maxContentSize;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 48px 16px 48px 16px;
  border-radius: 8px;
  background: linear-gradient(to right, $gray-600, $gray-500);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.preparedBy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 190px;

  @include mobileBreakpoint('max', $bpL) {
    width: 170px;
  }
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-align: center;

  @include mobileBreakpoint('max', $bpL) {
    font-size: 34px;
    line-height: 40px;
  }
}

.name {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
}

.email,
.website,
.phone {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.03em;
}

.dateTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.03em;

  @include mobileBreakpoint('max', $bpL) {
    font-size: 14px;
    line-height: 20px;
  }
}

.divider {
  width: 100%;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.businessPlan {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.teamWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  flex-wrap: wrap;
}

.input {
  background-color: $brand-900;
}

.publicURLWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  align-items: end;
}

.buttonWrapper {
  width: fit-content;
  height: 44px;
}
