.wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  height: 56px;
  max-width: $maxContentSize;
}

.title,
.secondTitle {
  font-family: $fontSpaceGrotesk;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
}

.title {
  color: $white;

  @include mobileBreakpoint('max', $bpL) {
    font-size: 44px;
    line-height: 50px;
  }

  @include mobileBreakpoint('max', $bpM) {
    font-size: 40px;
    line-height: 46px;
  }
}

.secondTitle {
  color: $gray-400;
}
