.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  height: 272px;
  padding: 24px;
  border-radius: 8px;
  background-color: $brand-900;

  @include mobileBreakpoint('min', $custom-bpXL) {
    max-width: 567px;
  }
}
