.wrapper {
  display: flex;
  flex-direction: column;
}

.text {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: $gray-300;
  margin-top: auto;
}
