.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 40px;
}

.sectionFirst,
.sectionSecond,
.sectionThird,
.sectionFourth,
.sectionFifth,
.sectionSixth {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sectionSecond,
.sectionThird,
.sectionFourth,
.sectionFifth,
.sectionSixth {
  flex-direction: row;
  gap: 40px;

  @include mobileBreakpoint('max', $bpL - 1) {
    flex-direction: column;
  }
}

.recentHalf {
  max-width: $halfContentSize;
}

.recentFullScreen {
  max-width: $maxContentSize;
}

.zIndex {
  z-index: 1000;
}
