.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: $gray-300;
}

.value {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.03em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
