.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatar {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $brand-800;
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.03em;
  text-align: left;
}
