.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 40px;

  @include scrollbar;
}

.sectionOne {
  flex-direction: row;
  gap: 40px;

  @include mobileBreakpoint('max', $bpL - 1) {
    flex-direction: column;
  }
}

.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour {
  display: flex;
  width: 100%;
  justify-content: center;
}

.recentOrders {
  max-width: 1150px;
}

.recentFullScreen {
  max-width: $maxContentSize;
}
