.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 272px;
  height: auto;
}

.titleWrapper {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.title_In_Progress {
  background-color: $brand-600;
}

.title_Not_Started {
  background-color: $cherry-700;
}

.title_Completed {
  background-color: $mint-600;
}

.title_Deferred {
  background-color: $gray-600;
}

.title_Waiting {
  background-color: $gray-700;
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  user-select: none;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  min-height: 0;
  margin-bottom: 24px;
}

.droppable {
  touch-action: pan-y;
}

.droppableDragging {
  flex-grow: 1;
  touch-action: auto;
}
