.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.containerItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.containerItemsTitle {
  font-family: $fontSpaceGrotesk;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.buttonRemove {
  display: flex;
  justify-content: end;

  @include mobileBreakpoint('max', $bpL) {
    justify-content: start;
  }
}

.buttonDeleteBlank {
  background-color: $cherry-500;

  @include hover() {
    background-color: $cherry-400;
  }
}

.buttonIcon {
  height: 20px;
  width: 20px;
}
