.wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.title {
  width: 135px;
  font-family: $fontSpaceGrotesk;
  font-size: 17px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.03em;
  color: $gray-300;
}

.value {
  font-family: $fontSpaceGrotesk;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
