@mixin hover() {
  &:hover {
    @content;
  }
}

@mixin active() {
  &:active {
    @content;
  }
}

@mixin underlineText($color) {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color;
  }
}
