.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  color: $white;
}

.container {
  display: flex;
  justify-content: end;
}

.totalList {
  max-width: 450px;
}

.totalList,
.noteWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.titleNote {
  font-size: 17px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: -0.03em;
}

.offerTo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.offerToTitle {
  font-size: 17px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: -0.03em;
}
