.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.03em;
  text-align: center;
}
