.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: pointer;
}

.numberMD,
.numberSM {
  line-height: 24px;
  letter-spacing: -0.03em;
}

.numberMD {
  font-size: 16px;
  font-weight: 500;
}

.numberSM {
  font-size: 15px;
  font-weight: 400;
}
