.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.categoriesList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  justify-content: center;
}
