.ordinaryWrapper,
.iconWrapper {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  padding: 0px 20px 0px 20px;
  background-color: $brand-500;
  transition: all 0.2s;

  @include hover() {
    background-color: $brand-400;
  }
}

.title,
.titleNone {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  color: $white;
}

.titleNone {
  @include mobileBreakpoint('max', $bpS) {
    display: none;

    .iconWrapper {
      @include mobileBreakpoint('max', $bpS) {
        width: 60px;
      }
    }
  }
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
