.ordinaryWrapper,
.iconWrapper {
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 10px 12px;
  transition: all 0.2s;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:disabled {
    background-color: $gray-400;
    border-color: $gray-400;
    cursor: not-allowed;

    &:hover {
      background-color: $gray-400;
      border-color: $gray-400;
    }
  }
}

.default {
  background-color: $brand-500;
  color: $white;
  border: none;

  @include hover() {
    background-color: $brand-400;
  }
}

.outline {
  background-color: transparent;
  border: 2px solid $brand-500;
  color: $white;

  @include hover() {
    background-color: $brand-500;
  }
}

.title,
.titleNone {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.titleNone {
  @include mobileBreakpoint('max', $bpS) {
    display: none;
  }
}

.icon {
  width: 18px;
  height: 18px;
}
