.jodit-container:not(.jodit_inline) .jodit-workplace {
  background-color: $brand-900 !important;
  border-radius: 0px 0px 8px 8px !important;
}

.jodit-container:not(.jodit_inline) {
  background-color: $brand-900 !important;
  border: solid 2px $brand-800 !important;
  border-radius: 8px !important;
}

.jodit-placeholder {
  color: $gray-500 !important;
  font-style: italic !important;
  pointer-events: none !important;
  font-size: 13px !important;
}

.jodit-add-new-line {
  display: none !important;
}

.jodit-ui-separator {
  border-right: solid 2px $brand-800 !important;
}

.jodit-toolbar__box:not(:empty):not(:empty) {
  background-color: $brand-900 !important;
  border-radius: 8px 8px 0px 0px !important;
  border-bottom: solid 2px $brand-800 !important;
}

.jodit-icon {
  fill: $gray-300 !important;
}

.jodit-toolbar-button:not([available]) {
  height: 35px !important;

  :hover {
    border-radius: 0px !important;
    background-color: $brand-500 !important;

    .jodit-icon {
      fill: $white !important;
    }
  }
}

.jodit-toolbar-button[aria-pressed='true']:not([available]) {
  height: 35px !important;

  :hover {
    border-radius: 0px !important;
    background-color: $brand-200 !important;

    .jodit-icon {
      fill: $white !important;
    }
  }
}

.jodit-toolbar__box:not(:empty) .jodit-toolbar-editor-collection:after {
  display: none !important;
}

.jodit-toolbar-button__button[aria-pressed='true']:not([disabled]) {
  border-radius: 0px !important;
  background-color: $brand-200 !important;

  .jodit-icon {
    fill: $white !important;
  }
}
