.jodit-wysiwyg {
  color: white !important;
}

.jodit-wysiwyg {
  color: white !important;
}

.jodit-container:not(.jodit_inline) .jodit-workplace {
  background-color: $brand-900 !important;
  border-radius: 0px 0px 8px 8px !important;
}

.jodit-container:not(.jodit_inline) {
  background-color: $brand-900 !important;
  border: solid 2px $brand-800 !important;
  border-radius: 8px !important;
}

.jodit-placeholder {
  color: $gray-500 !important;
  font-style: italic !important;
  pointer-events: none !important;
  font-size: 13px !important;
}

.jodit-add-new-line {
  display: none !important;
}

.jodit-ui-separator {
  border-right: solid 2px $brand-800 !important;
}

.jodit-toolbar__box:not(:empty):not(:empty) {
  background-color: $brand-900 !important;
  border-radius: 8px 8px 0px 0px !important;
  border-bottom: solid 2px transparent !important;
}

.jodit-icon {
  fill: $gray-300 !important;
}

.jodit-toolbar-button:not([available]) {
  height: 35px !important;

  :hover {
    border-radius: 4px !important;
    background-color: $brand-500 !important;

    .jodit-icon * {
      fill: $white !important;
    }
  }
}

.jodit-toolbar-button[aria-pressed='true']:not([available]) {
  height: 35px !important;

  :hover {
    border-radius: 4px !important;
    background-color: $brand-200 !important;

    .jodit-icon {
      fill: $white !important;
    }
  }
}

.jodit-toolbar-button_with-trigger_true:hover:not([disabled]) {
  border-radius: 4px;
  border-color: $brand-500 !important;
}

.jodit-toolbar__box:not(:empty) .jodit-toolbar-editor-collection:after {
  display: none !important;
}

.jodit-toolbar-button__button[aria-pressed='true']:not([disabled]) {
  border-radius: 0px !important;
  background-color: $brand-200 !important;

  .jodit-icon,
  .jodit-toolbar-button__trigger {
    fill: $white !important;
  }
}

.jodit-toolbar-button__trigger {
  fill: $white !important;
}

.jodit-toolbar-editor-collection_size_middle.jodit-toolbar-editor-collection_mode_horizontal {
  background-image: repeating-linear-gradient(
    transparent 0px,
    transparent 37px,
    $brand-800 40px
  ) !important;
  border-bottom: solid 2px $brand-800 !important;
}

.jodit-toolbar-editor-collection_mode_horizontal {
  background-image: repeating-linear-gradient(
    transparent 0px,
    transparent 37px,
    transparent 40px
  ) !important;
}

.jodit-container:not(.jodit_inline) .jodit-wysiwyg {
  padding: 8px 8px 30px 8px !important;
}

.jodit-workplace {
  p {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  a {
    font-size: 15px;
    color: $brand-500;
    text-decoration: underline;
  }

  li {
    margin-left: 14px;
    list-style-position: inside;
    font-size: 15px;
  }
}

.jodit-popup__content {
  color: $white !important;
  border-radius: 12px !important;
  background-color: $brand-900 !important;
  box-shadow: 1px 1px 8px #acb2f3 !important;
}

.jodit-ui-button {
  color: $white !important;
  width: 100% !important;
  background-color: $brand-500 !important;
  border-radius: 8px !important;
}

.jodit-ui-input__wrapper {
  border-radius: 8px !important;
  background-color: transparent !important;
  overflow: hidden !important;
  border: none !important;
}

.jodit-ui-input__input {
  color: $white !important;
  background-color: $brand-800 !important;
  border: none !important;
}

.jodit-ui-input__label {
  color: $gray-300 !important;
}

.jodit-toolbar-button__button {
  color: $white !important;
}

.jodit-ui-checkbox__label {
  font-size: 12px !important;
  color: $white !important;
}

.jodit-ui-checkbox {
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
  gap: 10px;
}

.jodit-ui-checkbox__wrapper {
  width: 16px !important;
  height: 16px !important;
}

.jodit-ui-checkbox__input {
  width: 16px !important;
  height: 16px !important;
  border-radius: 4px !important;
  border: none !important;
  margin: 0 !important;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 16px;
  height: 16px;

  background-color: $gray-500;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  position: relative;
  transition: background-color 0.2s ease;

  &:checked {
    background-color: $brand-500;

    &:focus,
    &:focus-visible {
      outline: none !important;
      box-shadow: none !important;
      background-color: $brand-500;
    }

    &::before,
    &::after {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 3px;
    height: 7px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.jodit-ui-block {
  gap: 4px !important;
}
