.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px 12px 10px 12px;
}

.hashtagItem,
.accountItem,
.amountItem,
.createdItem,
.dueItem {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.hashtagItem {
  font-weight: 500;
  color: $gray-300;
  cursor: pointer;
}

.accountItem {
  cursor: pointer;
}

.amountItem,
.accountItem {
  font-weight: 400;
}

.createdItem,
.dueItem {
  font-weight: 400;
  color: $gray-300;
}

.statusItem {
  display: flex;
  justify-content: end;
}

.accountItemMobile,
.amountItemMobile,
.createdItemMobile,
.dueItemMobile {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.createdItemMobile,
.dueItemMobile {
  color: $gray-300;
}
