.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 18px;
  border-radius: 8px;
  background: linear-gradient(to bottom, $brand-800, $brand-900);
  background-size: 100% 115px;
  background-repeat: no-repeat;
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: $white;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: $gray-300;
}

.buttonsList {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
}
