.wrapper {
  display: flex;
  flex-direction: column;
  gap: 38px;
  color: $white;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-family: $fontSpaceGrotesk;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.containers {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @include mobileBreakpoint('max', $bpL) {
    flex-direction: column;
  }
}

.leftContainer,
.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.cross {
  position: absolute;
  top: 7px;
  right: 7px;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover * {
    stroke: $gray-200;
  }
}

.buttonSave {
  @include mobileBreakpoint('max', $bpL) {
    width: 100%;
  }
}
