.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 750px;
  overflow-y: hidden;
}

.columns {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  align-items: center;
  background-color: $brand-800;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.avatarColumn,
.nameEmailColumn,
.quantityColumn,
.taxesColumn,
.amountColumn,
.crossColumn {
  width: 100%;
}

.avatarColumn {
  max-width: 72px;
}

.crossColumn {
  display: flex;
  align-items: center;
  justify-content: end;
  max-width: 120px;
}

.amountColumn {
  text-align: right;
}

.nameEmailColumn {
  max-width: 289px;
  min-width: 200px;
}

.taxesColumn {
  max-width: 170px;
}

.quantityColumn,
.amountColumn {
  max-width: 229.5px;
}
