.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  @include scrollbar;
}

.section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sectionFirst {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  justify-content: center;

  @include mobileBreakpoint('max', $bpL - 1) {
    flex-direction: column;
  }
}

.recentRightCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  min-width: 0;
  max-width: 979px;

  @include mobileBreakpoint('max', $bpL - 1) {
    gap: 40px;
  }
}

.recentFullScreen {
  max-width: $maxContentSize;
}

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chartWrapper {
  max-height: max-content;
}

.chart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.cards {
  display: flex;
  gap: 10px;
  min-width: 0;
}

.cards > * {
  flex: 0 0 auto;
}

.bigCard {
  flex: 0 0 auto;
  max-width: 250px;
}

.legends {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.unpaidColor {
  background-color: $cherry-600;
}

.paidColor {
  background-color: $brand-400;
}
