.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.sectionFirst,
.sectionSecond,
.sectionThird,
.sectionFourth {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sectionFirst {
  flex-direction: row;
  gap: 40px;

  @include mobileBreakpoint('max', $bpL - 1) {
    flex-direction: column;
  }
}

.recentOrders {
  max-width: 1150px;
}

.recentFullScreen {
  max-width: $maxContentSize;
}
