.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.sectionFirst,
.section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sectionFirst {
  flex-direction: row;
  gap: 40px;

  @include mobileBreakpoint('max', $bpL - 1) {
    flex-direction: column;
  }
}

.recentRightCard {
  width: 100%;
  max-width: 1150px;
}

.recentFullScreen {
  max-width: $maxContentSize;
}

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
